<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/coolchart.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css"/>
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/amstock.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <!--  Todo: Circle Chart -->
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/circular-progress-jquery.js"></script>

  <script>
    $(document).ready(function() {
        var socket = io.connect('http://localhost:10000');
        $('#wc_lon').click(function () {
            socket.emit('WCLight', 'ON');
        });
        $('#wc_loff').click(function () {
            socket.emit('WCLight', 'OFF');
        });
    });
  </script>
</head>
<body>
<div class="row">
  <div class="col-sm-3">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>
  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li><a href="rm201">Room 201</a></li>
      <li><a href="rm202">Room 202</a></li>
      <li><a href="rm301">Room 301</a></li>
      <li><a href="rm302">Room 302</a></li>
      <li><a href="rm401">Room 401</a></li>
      <li><a href="index">Room 402</a></li>
    </ul>
  </div>
</div>
<div id=<%= chart %>></div>
<div class="row">
  <div class="col-sm-3">
    <h3>WC Status</h3>
    <h5>Light Status:
      <b id="wc_ls">
        Loading...
      </b>
    </h5>
    <h5>Switch Status:
      <b id="wc_ss">
        Loading...
      </b>
    </h5>
    <button id="wc_lon" class="btn btn-success">On</button>
    <button id="wc_loff" class="btn btn-danger">Off</button>
  </div>
  <div class="col-sm-3">
    <h3>Windows Status</h3>
    <h5>Light Status:
      <b id="wd_ls">
        Loading...
      </b>
    </h5>
    <h5>Switch Status:
      <b id="wd_ss">
        Loading...
      </b>
    </h5>
    <button class="btn btn-success">On</button>
    <button class="btn btn-danger">Off</button>
  </div>
  <div class="col-sm-3">
    <h3>Room Light Status</h3>
    <h5>Switch Status:
      <b id="rm_ss">
        Loading...
      </b>
    </h5>
    <h5>LightC1 Status:
      <b id="rm_c1">
        Loading...
      </b>
    </h5>
    <h5>LightC2 Status:
      <b id="rm_c2">
        Loading...
      </b>
    </h5>
    <h5>LightC3 Status:
      <b id="rm_c3">
        Loading...
      </b>
    </h5>
    <button class="btn btn-success">On</button>
    <button class="btn btn-danger">Off</button>
  </div>
  <div class="col-sm-3">
    <h3>BedLeft Status</h3>
    <h5>Switch Status:
      <b id="bd_ss">
        Loading...
      </b>
    </h5>
    <h5>LightC1 Status:
      <b id="bd_c1">
        Loading...
      </b>
    </h5>
    <h5>LightC2 Status:
      <b id="bd_c2">
        Loading...
      </b>
    </h5>
    <button class="btn btn-success">On</button>
    <button class="btn btn-danger">Off</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <h3>Situation Status</h3>
    <h5>Left Switch Status:
      <b id="ss_l">
        Loading...
      </b>
    </h5>
    <h5>Right Switch Status:
      <b id="ss_r">
        Loading...
      </b>
    </h5>
    <button class="btn btn-success">On</button>
    <button class="btn btn-danger">Off</button>
  </div>
  <div class="col-sm-3">
    <h3>Energy Saving Status</h3>
    <h5>Switch Status:
      <b id="ess_ss">
        Loading...
      </b>
    </h5>
    <button class="btn btn-success">On</button>
    <button class="btn btn-danger">Off</button>
  </div>
  <div class="col-sm-3">
    <h3>Power Status</h3>
    <h5>Average Voltage:
      <b id="avg_v">
        Loading...
      </b>
    </h5>
    <h5>Average Current:
      <b id="avg_i">
        Loading...
      </b>
    </h5>
  </div>
</div>

<p id="demo"></p>
<p id="demo2"></p>
<p id="demo3"></p>
<p id="demo4"></p>
<p id="demo5"></p>


<script type="text/javascript">
    var data = [];
    function state(name, flag){
        if(flag) {
            document.getElementById(name).innerHTML = 'On';
        }else{
            document.getElementById(name).innerHTML = 'Off';
        }
    }
    function setText(name, value) {
        document.getElementById(name).innerHTML = value;
    }
    function Init402() {
        var url = "http://localhost:8080/r402a";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if(this.readyState == 4 && this.status == 200){
                var json = JSON.parse(xhttp.responseText);
                for(var i=4999;i>=0;i--) {
                    data.push({
                        hok402_w: parseFloat(json[i]['kW_tot'])*1000,
                        date: json[i]['datetime']
                    });
                }
                setInterval(newdata, 1000);
                AmCharts.makeChart("chartdiv",
                    {
                        "type": "serial",
                        "categoryField": "date",
                        "dataDateFormat": "YYYY-MM-DD HH:NN:SS",
                        "categoryAxis": {
                            "minPeriod": "ss",
                            "parseDates": true
                        },
                        "chartCursor": {
                            "enabled": true,
                            "categoryBalloonDateFormat": "JJ:NN:SS"
                        },
                        "chartScrollbar": {
                            "enabled": true
                        },
                        "trendLines": [],
                        "graphs": [
                            {
                                "bullet": "round",
                                "id": "AmGraph-1",
                                "title": "W",
                                "valueField": "hok402_w"
                            }
                        ],
                        "guides": [],
                        "valueAxes": [
                            {
                                "id": "ValueAxis-1",
                                "title": "Power"
                            }
                        ],
                        "allLabels": [],
                        "balloon": {},
                        "legend": {
                            "enabled": true,
                            "useGraphSettings": true
                        },
                        "titles": [
                            {
                                "id": "Hok_402",
                                "size": 15,
                                "text": "Hok_402"
                            }
                        ],
                        "dataProvider": data
                    }
                );
            }
        }
        xhttp.open("GET", url, true);
        xhttp.send(null);
    }
    function newdata() {
        var url = "http://localhost:8080/r402";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                var json = JSON.parse(xhttp.responseText);
                if(json[0]['wc_light_status']){
                    state("wc_ls", 1);
                }else{
                    state("wc_ls", 0);
                }
                if(json[0]['wc_switch_status']){
                    state("wc_ss", 1);
                }else{
                    state("wc_ss", 0);
                }
                if(json[0]['windows_light_status']){
                    state("wd_ls", 1);
                }else{
                    state("wd_ls", 0);
                }
                if(json[0]['windows_switch_status']){
                    state("wd_ss", 1);
                }else{
                    state("wd_ss", 0);
                }
                if(json[0]['Room_lights_switch_status']){
                    state("rm_ss", 1);
                }else{
                    state("rm_ss", 0);
                }
                if(json[0]['BedLeft_lights_switch_status']){
                    state("bd_ss", 1);
                }else{
                    state("bd_ss", 0);
                }
                if(json[0]['BedLeft_lights_C1']){
                    state("bd_c1", 1);
                }else{
                    state("bd_c1", 0);
                }
                if(json[0]['BedLeft_lights_C2']){
                    state("bd_c2", 1);
                }else{
                    state("bd_c2", 0);
                }
                if(json[0]['LeftSituation_switch_status']){
                    state("ss_l", 1);
                }else {
                    state("ss_l", 0);
                }
                if(json[0]['RightSituation_switch_status']){
                    state("ss_r", 1);
                }else{
                    state("ss_r", 0);
                }
                if(json[0]['EnergySaving_switch_status']){
                    state("ess_ss", 1);
                }else{
                    state("ess_ss", 0);
                }
                setText("avg_v", json[0]['V_avg']);
                setText("avg_i", json[0]['I_avg']);
                setText("rm_c1", json[0]['Room_lights_C1']+ " %");
                setText("rm_c2", json[0]['Room_lights_C2']+ " %");
                setText("rm_c3", json[0]['Room_lights_C3']+ " %");
                setText("bd_c1", json[0]['BedLeft_lights_C1']+ " %");
                setText("bd_c2", json[0]['BedRight_lights_C1']+ " %");

                data.push({
                    hok402_w: parseFloat(json[0]['kW_tot']) * 1000,
                    date: json[0]['datetime']
                });
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send(null);
    }
    function update() {
        AmCharts.makeChart("chartdiv",
            {
                "type": "serial",
                "categoryField": "date",
                "dataDateFormat": "YYYY-MM-DD HH:NN:SS",
                "categoryAxis": {
                    "minPeriod": "ss",
                    "parseDates": true
                },
                "chartCursor": {
                    "enabled": true,
                    "categoryBalloonDateFormat": "JJ:NN:SS"
                },
                "chartScrollbar": {
                    "enabled": true
                },
                "trendLines": [],
                "graphs": [
                    {
                        "bullet": "round",
                        "id": "AmGraph-1",
                        "title": "W",
                        "valueField": "hok402_w"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "Power"
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "legend": {
                    "enabled": true,
                    "useGraphSettings": true
                },
                "titles": [
                    {
                        "id": "Hok_402",
                        "size": 15,
                        "text": "Hok_402"
                    }
                ],
                "dataProvider": data
            }
        );
    }

    Init402();
    setInterval(update, 10000);
</script>
</body>
</html>
